<ion-header class="ion-no-border heder-main" align-title="center">
	<ion-toolbar color="secondary">
		
    	<ion-back-button slot="start" (click)="dismiss()">
   </ion-back-button> 
		<ion-title class="center"> Post Details </ion-title>
		<!-- <ion-buttons slot="end" (click)="logout()">
			<ion-icon name="log-out-outline"></ion-icon>
		</ion-buttons> -->
	</ion-toolbar>
</ion-header>

<ion-content bg-grey>
	<div class="contet-sect">
		<div class="phot-slides">
			<!--h4 class="ttl-main"> Stories 
				<a href="javascript:void(0)" class="brn-all"> View All <ion-icon name="arrow-forward-outline"></ion-icon> </a>
			</h4-->
			<div class="slids-box new-box-a">
				<ion-row>
					<ion-col size="12">
						<div class="slide">
							<div class="img-bx-sly storis" style="height: 275px;">

							<div class="post-content">
								<p>{{post?.description}}</p>
							</div>

							<span class="servcs-badge">{{post?.category}}</span>

							<div *ngIf="errors.indexOf(post?.web_link) == -1">

							<ion-icon class="heart-icon" name="link-outline" style="font-size:20px;"></ion-icon>
								<span style="color: blue;font-style: oblique;" (click)="openLink(post?.web_link)">{{post?.web_link}}</span>
							</div>

							
								
								<div class="post-img"  *ngIf="errors.indexOf(post?.image) == -1">
									<img src="{{IMAGES_URL + '/images/'  + post?.image}}">
									<!-- <span class="servcs-badge" *ngIf="post?.category == 'netflix'">Netlix Series</span>
									<span class="servcs-badge" *ngIf="post?.category == 'stock'">Stock Market</span> -->
									
								</div>
								
								
								<!-- <span class="play-icon"> <ion-icon name="play"></ion-icon> </span> -->
							</div>
						</div>
					</ion-col>
				</ion-row>
			</div>
			<div class="content-all-pst">
				
				<div class="top-useer-s">
					<!-- <img src="assets/imgs/user1.jpg" class="adm-usr">  -->
					 <img class="adm-usr" *ngIf="errors.indexOf(post?.user_image) == -1 && errors.indexOf(post?.user_image) == false" src="{{IMAGES_URL +  '/images/' + post?.user_image}}">
					 <img class="adm-usr" *ngIf="errors.indexOf(post?.user_image) == -1 && errors.indexOf(post?.user_image) == true" src="{{post?.user_image}}">
					 <img class="adm-usr" *ngIf="errors.indexOf(post?.user_image) >= 0" src="assets/img/default.png">
					<h5> {{post?.user_name}} </h5>
					<span class="time-al"> {{post?.created_at | timeAgo}} </span>
					<div class="icon-rut">


						<span *ngIf="post?.fav == '0' && errors.indexOf(userId) == -1" (click)="addRemoveReccomdation(post, '1', i)">
							<ion-icon class="heart-icon" name="heart-outline" ></ion-icon>
										
						</span>

						<span *ngIf="post?.fav == '1' && errors.indexOf(userId) == -1" (click)="addRemoveReccomdation(post, '0', i)">
							<ion-icon class="heart-icon" name="heart" ></ion-icon>
						</span>


						<span class="likes-number"(click)="like(post?.likes)" *ngIf="post?.likes?.length > 0"> <!-- <img src="{{isLikedPost(post?.likes)}}">  -->
						<ion-icon name="{{isLikedPost(post?.likes)}}"></ion-icon>

						{{post?.likes?.length}} </span>


						<span class="likes-number"(click)="like(post?.likes)" *ngIf="post?.likes?.length == 0"> <!-- <img src="{{isLikedPost(post?.likes)}}">  -->
						<ion-icon name="thumbs-up-outline"></ion-icon>

						{{post?.likes?.length}} </span>

						<span class="mesgs-number"> <ion-icon name="chatbubble-outline"></ion-icon> {{post?.comments?.length}}  </span>
					</div>
				</div>
				<h4 class="ttl-main mt-20"> Comments ({{post?.comments?.length}} )</h4>
				<div class="commnts" *ngIf="post?.comments?.length == 0">
					<p>No comment posted yet!</p>
				</div>
				<div class="commnts" *ngFor="let item of post?.comments">
					<!-- <img src="assets/imgs/default.png" class="adm-usr">  -->
					<img class="adm-usr" *ngIf="errors.indexOf(item?.image) == -1 && item?.medium == 'simple'" src="{{IMAGES_URL + '/images/' + item?.image}}">
					<img class="adm-usr" *ngIf="errors.indexOf(item?.image) == -1 && item?.medium != 'simple'" src="{{item?.image}}">
					 <img class="adm-usr" *ngIf="errors.indexOf(item?.image) >= 0" src="assets/img/default.png">
					<h5> {{item?.user}} <span class="time-al"> {{item?.created_on | timeAgo}} </span> </h5>
					<p> {{item?.comment}} </p>
				</div>
				<!-- <div class="commnts">
					<img src="assets/imgs/user1.jpg" class="adm-usr"> 
					<h5> John Smith <span class="time-al"> {{post?.created_on | timeAgo}} </span> </h5>
					<p> Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto. </p>
				</div>
				<div class="commnts">
					<img src="assets/imgs/user2.jpg" class="adm-usr"> 
					<h5>Christon Hanry <span class="time-al"> 1 hour ago </span> </h5>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
				</div>
				<div class="commnts">
					<img src="assets/imgs/user3.jpg" class="adm-usr"> 
					<h5>  Marry James  <span class="time-al"> 3 hours ago </span> </h5>
					<p> At vero eos et accusamus et iusto odio dignissimos . </p>
				</div> -->
				<div class="add-commnt" *ngIf="errors.indexOf(userId) == -1">
					<ion-input placeholder="Add comment here..." [(ngModel)]="comment"></ion-input>
					<a (click)="postComment(comment)" class="btn-send" > <ion-icon name="send-outline"></ion-icon> </a>
				</div>
			</div>
		</div>
	</div>
</ion-content>
