<ion-app>
 <!--ion-split-pane contentId="main-content"-->
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list menutop>
		<ion-item color="secondary" lines="none">
		<ion-avatar>
		  <!-- <img src="assets/img/profile_user.jpg"/> -->
      <img *ngIf="errors.indexOf(user_image) == -1 && user_medium == 'simple'" src="{{IMAGES_URL + '/images/' + user_image}}">
      <img *ngIf="errors.indexOf(user_image) == -1 && user_medium != 'simple'" src="{{user_image}}">
           <img *ngIf="errors.indexOf(user_image) >= 0" src="assets/img/default.png">
		</ion-avatar>
		<ion-label>
		<h2>{{user_name}}</h2>
		<p>{{user_email}}</p>
		</ion-label>
		</ion-item>
        </ion-list>
        <ion-list>
    
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <!--ion-icon slot="start" name="p.icon + '-outline'"  [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon-->
              <ion-icon slot="start" [name]="p.icon" ></ion-icon>
              <ion-label *ngIf="p.title != 'Logout'">{{ p.title }}</ion-label>
              <ion-label *ngIf="p.title == 'Logout'" (click)="logout()">Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  <!--/ion-split-pane-->
</ion-app>
