<div headerWeb>
	<a href="javascript:void(0)" routerLink="/tabs/home" logo>Recommendspot</a>
	<div ritHeader style="height: 66px;">
		<ul>
			<li><a routerLink="/login" href="javascript:void(0)">Add Recommendation</a></li>
			<li><a routerLink="/login" href="javascript:void(0)">Login</a></li>
			<li><a routerLink="/signup" href="javascript:void(0)">Signup</a></li>
			 
		</ul>
		<!-- <ion-item lines="none"> -->
			<!--ion-label style="display: none;"><span>Select Category</span></ion-label-->
			<!--ion-select style="color: #fff;font-size: 15px;font-weight: 500;    margin-top: 3px;" interface="alert" [(ngModel)]="cat" (ionChange)="catChange(type, 'web')">
				<ion-select-option value="All"> All Categories </ion-select-option>
				<ion-select-option value="{{cat._id}}" *ngFor="let cat of categories"> {{cat.name}} </ion-select-option>
				
			</ion-select-->
		<!-- </ion-item> -->
		<!-- <a href="javascript:void(0)" routerLink="/tabs/notification" noti><ion-icon name="notifications-sharp"></ion-icon></a>
		<span proImg routerLink="/tabs/profile">
			<img src="assets/img/user4.jpg" alt="">
			 <p>Priyanka S. <small>priyankasharma@gmail.com</small></p>
			<div profileDropdown>
				<ul>
					<li><a href="javascript:void(0)" routerLink="/profile-setting">Profile Settings</a></li>
					<li><a href="javascript:void(0)">Logout</a></li>
				</ul>
			</div>
		</span> -->
	</div>
</div>

<ion-header>
	<ion-toolbar color="secondary">   
		<ion-title class="ion-text-center"><img src="assets/img/logo-white.png" alt="" ></ion-title>
	</ion-toolbar>
	<div  class="dropdown-dots">
		<a  href="javascript:void(0)" class="rift-flt" (click)="hide()"> <ion-icon name="ellipsis-vertical-outline"></ion-icon> </a>
		<ul class="list-post-fl" *ngIf="hideMe">
			<!-- <li> <a href="javascript:void(0)" (click)="gotoLogin()">Add Recommendations</a> </li> -->
			<li> <a href="javascript:void(0)" routerLink="/login" (click)="hide()">Add Recommendation</a> </li>
			<li> <a  href="javascript:void(0)" routerLink="/login" (click)="hide()">Login</a> </li>
			<li> <a routerLink="/signup" href="javascript:void(0)" (click)="hide()">Sign Up</a> </li>
			<!-- <li><ion-button class="btn" ion-button full (click)="add_to_home($event)"  >
			Install</ion-button></li> -->
		</ul>
	</div>  
</ion-header>
<ion-content>
	<div container>
		<div class="search">
			<!-- (ngSubmit)="search()"  -->
			<!-- <ion-item lines="none" displayabovePhn style="    background: #fff;border-radius: 50px;margin-bottom: 10px;font-size: 13px;" >
			<ion-label style="display: none;"><span>Select Category</span></ion-label>
				<ion-select style="max-width: 100% !important;" interface="alert" [(ngModel)]="cat" (ionChange)="catChange(type, 'app')">
					<ion-select-option value="All"> All Categories </ion-select-option>
						<ion-select-option value="{{cat._id}}" *ngFor="let cat of categories"> {{cat.name}} </ion-select-option>
						
				</ion-select>
			</ion-item> -->

			<form [formGroup]="authForm"  >
				<ion-row>
					<ion-col  size="10" size-lg="12"  style="margin: 0;padding: 0;">
						<ion-searchbar placeholder="Search here..." formControlName="keyword">

						</ion-searchbar>
					</ion-col>
					<ion-col  size="2" style="margin: 0;padding: 0;" sortbyPhn>
						<ion-icon class="icon-dots sorticon" name="funnel-outline" style="float: right;" (click)="presentAlertRadio()"></ion-icon>
					</ion-col>
				</ion-row>
			</form>
			<ion-item lines="none" sortbyWeb>


				<ion-label><span>Sort By</span></ion-label>
				<ion-select interface="alert" [(ngModel)]="type" (ionChange)="typeChange(type)">
					<ion-select-option value="Saved"> Saved </ion-select-option>
					<ion-select-option value="Likes"> Likes </ion-select-option>
					<ion-select-option value="Comments"> Comments   </ion-select-option>
					<ion-select-option value="Random"> Random   </ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item lines="none" sortbyPhn  sortbymobcat (click)="presentAlert()">


	 		<div class="categories">
				<span *ngIf="categoriesChecked?.length == 0">Categories</span><ion-icon class="dropicon" name="caret-down-outline"></ion-icon>
				<ng-container *ngIf="categoriesChecked?.length > 0">
					<div><span *ngFor="let doc of categoriesCheck"><span *ngIf="doc.checked == true">{{doc.name}}<span *ngIf="categoriesCheck?.length > 1">,</span></span></span></div>
				</ng-container>
			</div>
		</ion-item>


		</div>
	<div class="home-sec">
		<div class="mn-heading">
			<h2><ion-icon name="receipt-outline"></ion-icon> recommend anything you find meaningful to anyone that might find it useful</h2>
			<p>Look at what these people are recommending</p>
		</div>
		<!--  (ngSubmit)="search()"  -->
		<div webPostsearch>
			<!-- <form [formGroup]="authForm" (ngSubmit)="search()">
				<ion-searchbar placeholder="Search here..."  formControlName="keyword">

				</ion-searchbar>
			</form> -->
		<!-- 	<ion-item lines="none">
				<ion-label><span>Sort By</span></ion-label>
				<ion-select interface="alert" [(ngModel)]="type" (ionChange)="typeChange(type)">
					<ion-select-option value="Likes"> Likes </ion-select-option>
					<ion-select-option value="Comments"> Comments   </ion-select-option>
					<ion-select-option value="Random"> Random   </ion-select-option>
				</ion-select>
			</ion-item> -->
		</div>
		<ion-row>
			<ion-col size="4" mobile-none>
			    <div category-sec>
					<ion-list>
					    <h3 category-head>All Categories</h3>
						<ion-item lines="none" *ngFor="let cat of categories; let i = index;" (click)="selectCat(cat)">
							<ion-label>{{cat.name}}</ion-label>
							<ion-checkbox slot="start" value="{{cat._id}}" [checked]="cat.checked"></ion-checkbox>
						</ion-item>	
					</ion-list> 					
				</div>
			</ion-col>		
        <ion-col size="8" moble-width100>
		<ion-card post-sec-mn *ngFor="let item of posts | appFilter: authForm.value.keyword; let i = index;">
			<div class="post-name">	
				<ion-item lines="none">
					<ion-avatar  (click)="viewUser(item)">
						<img *ngIf="errors.indexOf(item.user_image) == -1 && getimage(item.user_image) == true" src="{{item.user_image}}">
						<img *ngIf="errors.indexOf(item.user_image) == -1 && getimage(item.user_image) == false" src="{{IMAGES_URL + '/images/' + item.user_image}}">
						<img *ngIf="errors.indexOf(item.user_image) >= 0" src="assets/img/default.png">
					</ion-avatar>
					<ion-label  (click)="viewUser(item)">
						<h2>{{item.user_name}}</h2>
						<p>{{item.created_at  | dateAgo}}</p>
					</ion-label>
					<span (click)="viewPost(item)" class="servcs-badge" *ngIf="item.category != ''">{{item.category}}<small *ngIf="item.sub_category != ''"><ion-icon name="chevron-forward-outline"></ion-icon> {{item.sub_category}}</small></span>
				</ion-item>
			</div>
			<div class="cart-mn-pd">
				<div class="post-content padding-left-3" (click)="viewPost(item)">
					<h6 style="font-size: 14px;color: #000;">{{item.title}}</h6>
					<p>{{item.description}}<!-- <a class="readmore" href="javascript:void(0)">Read More</a> --></p>
				</div>

				<div *ngIf="errors.indexOf(item.web_link) == -1" class="padding-left-3">
                    <!--div weblink-sec>
						<ion-icon class="heart-icon" name="link-outline" style="font-size:20px;"></ion-icon>
						<span class="weblink"  (click)="openLink(item.web_link)"><a (click)="openLink(item.web_link)">{{item.web_link}}</a></span>
					</div-->
					<div class="linkcontent contfull ion-no-padding" *ngIf="item.web_link_content != null" (click)="openLinkPreview(item.web_link_content.data.link)">
				 <ion-grid class="ion-no-padding">
					<ion-row>
						<ion-col size="12" size-md="12" *ngIf="item.web_link_content?.data.image != ''">
							<img src="{{item.web_link_content?.data.image}}" />
						</ion-col>

						<ion-col size="{{item.web_link_content?.data.title != '' ? 12 : 12}}" size-md="12">
						  <div class="link-cnt">
							<p  style="margin: 4px 0px;" title-my2 *ngIf="item.web_link_content?.data.title != ''"><b>{{item.web_link_content?.data.title}}</b></p>
							<p  style="margin: 4px 0px;" *ngIf="item.web_link_content?.data.title == ''"> Lorem Ipsum is simply dummy text of the industry. </p>
							<p  style="margin: 4px 0px;" *ngIf="item.web_link_content?.data.title != ''">{{item.web_link_content?.data.description}}</p>
							<p  style="margin: 4px 0px;" *ngIf="item.web_link_content?.data.title == ''">Lorem Ipsum is simply dummy text of the industry.</p>
						  </div>
						</ion-col>
						<ion-col size="12" size-md="12">
								<div weblink-sec>
									<ion-icon class="heart-icon" name="link-outline" style="font-size:20px;"></ion-icon>
									<span class="weblink"  (click)="openLink(item.web_link)"><a (click)="openLink(item.web_link)">{{item.web_link}}</a></span>
					           </div>
						</ion-col>
					</ion-row>
					</ion-grid>
				</div>
				</div>
				<div class="post-img" *ngIf="errors.indexOf(item.image) == -1 || item.image">
					<img (click)="viewPost(item)"  src="{{IMAGES_URL + '/images/' +  item.image}}">

					<!-- <ion-icon class="heart-icon" name="bookmark-outline"></ion-icon> -->
				</div>	
				<div class="post-share">
					<span style="cursor:pointer;" class="padding-8 commentstitle" *ngIf="item.comment_count > 0" (click)="viewComments(item)">{{item.comment_count}} <span *ngIf="item.comment_count == 1">Comment</span><span *ngIf="item.comment_count > 1">Comments</span> </span>
					<ion-row>
						<ion-col size="3">
							<ion-button class="socl-btn" (click)="viewPost(item)"><ion-icon name="thumbs-up-outline"></ion-icon> <span class="padding-8"> {{item.likes.length}} </span></ion-button>

							<!-- <ion-button class="socl-btn"  (click)="viewPost(item)">

								<ion-icon name="thumbs-down-outline"></ion-icon>{{item.dislikes.length}}
							</ion-button> -->
						</ion-col>
						<ion-col size="9" class="ion-text-right">
							<div post-fav-icon>
							<ion-button class="socl-btn" (click)="viewComments(item)"><ion-icon name="chatbubble-outline"></ion-icon> <!-- <span class="padding-8"> {{item.comment_count}} </span> --></ion-button>
							<ion-buttons sharebtn>		
							 <ion-fab>
								<ion-fab-button fab-btn size="small">
								  <ion-icon name="share-social"></ion-icon>
								</ion-fab-button>
								<ion-fab-list side="top">
								  <ion-fab-button size="small" (click)="viewPostSocial(item, 'http://www.facebook.com/share.php?u=https://recommendspot.com/#/post-details/')" target="_blank"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
								  <ion-fab-button size="small"  (click)="viewPostSocial(item, 'https://twitter.com/share?url=https://recommendspot.com/#/post-details/&amp;text=aa&amp;hashtags=YOUR_HASHTAGS')"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
								  <ion-fab-button size="small"  (click)="viewPostSocial(item, 'https://web.whatsapp.com/send?text=https://recommendspot.com/#/post-details/')"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
								  <ion-fab-button size="small" (click)="viewPostSocial(item, 'https://plus.google.com/share?url=https://recommendspot.com/#/post-details/')"><ion-icon name="logo-google"></ion-icon></ion-fab-button>
								  <ion-fab-button size="small" (click)="viewPostSocial(item, 'http://www.linkedin.com/shareArticle?mini=true&amp;url=https://recommendspot.com/#/post-details/')"><ion-icon name="logo-linkedin"></ion-icon></ion-fab-button>
								</ion-fab-list>
							  </ion-fab>					
							</ion-buttons>
						</div>
							<!--ion-button class="socl-btn" (click)="viewPost(item)"><ion-icon name="chatbubble-outline"></ion-icon> <span class="padding-8"> {{item.comments.length}} </span></ion-button-->
							<!--div *ngIf="platform1 == false">
								<span style="padding: 5px;" (click)="viewPostSocial(item, 'http://www.facebook.com/share.php?u=http://18.219.109.190/weblive/')" ><ion-icon name="logo-facebook"></ion-icon></span>

								<span style="padding: 5px;"  (click)="viewPostSocial(item, 'https://twitter.com/share?url=http://18.219.109.190/weblive/&amp;text=aa&amp;hashtags=YOUR_HASHTAGS')"  ><ion-icon name="logo-twitter"></ion-icon></span>
								<span style="padding: 5px;"  (click)="viewPostSocial(item, 'https://web.whatsapp.com/send?text=http://18.219.109.190/weblive/')"><ion-icon name="logo-whatsapp"></ion-icon></span>
								<span style="padding: 5px;"  (click)="viewPostSocial(item, 'https://plus.google.com/share?url=http://18.219.109.190/weblive/')" ><ion-icon name="logo-google"></ion-icon></span>
								<span style="padding: 5px;"  (click)="viewPostSocial(item, 'http://www.linkedin.com/shareArticle?mini=true&amp;url=http://18.219.109.190/weblive/')"><ion-icon name="logo-linkedin"></ion-icon></span>
							</div-->

							<!-- <ion-button class="socl-btn"  (click)="socialsharebranch(item)" *ngIf="platform1 == true"><ion-icon name="share-social-outline"></ion-icon></ion-button>		 -->
						</ion-col>
					</ion-row>
				</div>	


				<!-- <div class="post-coment" *ngIf="item.comments != null" routerLink="/comments">	
					<ion-item lines="none">
						<ion-avatar>
							<img *ngIf="errors.indexOf(item.comments.image) == -1 && getimage(item.comments.image) == true" src="{{item.comments.image}}">
							<img *ngIf="errors.indexOf(item.comments.image) == -1 && getimage(item.comments.image) == false" src="{{IMAGES_URL + '/images/' + item.comments.image}}">
							<img *ngIf="errors.indexOf(item.comments.image) >= 0" src="assets/img/default.png">
						</ion-avatar>
						<ion-label>
							<h2><b>{{item.comments.user}}</b>  </h2>
							<p>{{item.comments.comment}}</p>
						</ion-label>
					</ion-item>
				</div> -->

			</div>
		</ion-card>
	<div class="no-record" *ngIf="posts?.length == 0 && is_response == true">
		No Record Found
	</div>		
    </ion-col>
</ion-row>		

	</div>

<!-- 
<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="is_response == true">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll> -->

</div>
</ion-content>
<div footerWeb>
	<p>© 2021 Recommendspot. All rights reserved.</p>
</div>
