<div headerWeb>
	<a href="javascript:void(0)" logo>Favreet</a>
	<div ritHeader>
		<ul>
			<li><a routerLink="/tabs/home" href="javascript:void(0)">Home</a></li>
			<li><a routerLink="/tabs/following" href="javascript:void(0)">Following</a></li>
			<li><a routerLink="/tabs/add-recommendation" href="javascript:void(0)">Save Reccomendation</a></li>
			 
		</ul>
		<a href="javascript:void(0)" routerLink="/tabs/notification" noti><ion-icon name="notifications-sharp"></ion-icon></a>
		<span proImg>
			<img routerLink="/tabs/profile" *ngIf="errors.indexOf(user_image) == -1 && getimage(user_image) == true" src="{{user_image}}">
	        <img routerLink="/tabs/profile" *ngIf="errors.indexOf(user_image) == -1 && getimage(user_image) == false" src="{{IMAGES_URL + '/images/' + user_image}}">
	       <img routerLink="/tabs/profile" *ngIf="errors.indexOf(user_image) >= 0" src="assets/img/default.png">

			<p routerLink="/tabs/profile"><span class="username">{{user_name}} </span><small>{{user_email}}</small></p>
			<div profileDropdown>
				<ul>
					<li><a href="javascript:void(0)" routerLink="/profile-setting/{{user_id}}">Profile Settings</a></li>
					<li (click)="logout()"><a href="javascript:void(0)">Logout</a></li>
				</ul>
			</div>
		</span>
	</div>
</div>
<ion-header>
  <ion-toolbar color="secondary">
  <ion-menu-button slot="start">
<img height="15px" src="assets/img/menu.png"/>
  </ion-menu-button>
    <ion-title class="ion-text-center">Profile</ion-title>
	<ion-buttons (click)="goto_profile_setting()" mar-10 slot="end">
	  <ion-icon name="settings-outline"></ion-icon>
	</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

	<div container>
<div profileinfo>
<div profileimg [style.backgroundImage]="'url(' + bgImage + ')'">
  <!-- <img src="assets/img/bg-profile.jpg"/> -->
</div>
<!--div userimg>
<img src="assets/img/profile_user.jpg">
<h2>John Smith</h2>
</div-->
<div class="folow-sec">
	<ion-row class="ion-align-items-center">
		<ion-col size="4">
			<div class="folow-mn" (click)="gotoFollowersFollowings('follower')">
			    <ion-icon name="people-outline"></ion-icon>
			    <h3><span>{{profile?.follower}}</span><br/>Followers</h3>
			</div>
		</ion-col>
		<ion-col size="4">
			<div userimg>
			<img *ngIf="errors.indexOf(profile?.image) == -1 && getimage(profile?.image) == true" src="{{profile?.image}}">
			 <img *ngIf="errors.indexOf(profile?.image) == -1 && getimage(profile?.image) == false" src="{{IMAGES_URL + '/images/' + profile?.image}}">

			<!-- <img *ngIf="errors.indexOf(profile?.image) == -1 && profile?.medium == 'simple'" src="{{IMAGES_URL + '/images/' + profile?.image}}">
			<img *ngIf="errors.indexOf(profile?.image) == -1 && profile?.medium != 'simple'" src="{{profile?.image}}"> -->
			<img *ngIf="errors.indexOf(profile?.image) >= 0" src="assets/img/default.png">
			<h2>{{profile?.name}}</h2>
			
			</div>
		</ion-col>
		<ion-col size="4">
			<div class="folow-mn" (click)="gotoFollowersFollowings('following')">
			    <ion-icon name="person-add-outline"></ion-icon>
			    <h3><span>{{profile?.following}}</span><br/>Following</h3>			
			</div>
		</ion-col>
	</ion-row>
</div>
</div>
 
<div class="home-sec">
		<ion-card post-sec-mn  *ngFor="let item of data?.post; let i = index;">
			<div class="post-name">	
				<ion-item lines="none">
					 <ion-avatar>
					 <img *ngIf="errors.indexOf(item.user_image) == -1 && getimage(item.user_image) == true" src="{{item.user_image}}">
					 <img *ngIf="errors.indexOf(item.user_image) == -1 && getimage(item.user_image) == false" src="{{IMAGES_URL + '/images/' + item.user_image}}">
					 <img *ngIf="errors.indexOf(item.user_image) >= 0" src="assets/img/default.png">
					 </ion-avatar>
					<ion-label>
					<h2>{{item.user_name}}</h2>
					<p>{{item.created_at  | timeAgo}}</p>
					</ion-label>
					<ion-icon class="icon-dots" name="ellipsis-vertical" *ngIf="userId == item.user_id" (click)="openUpdate(i)"></ion-icon>
					<ul class="list-post-fl displaynonediv" id="doc{{i}}" *ngIf="userId == item.user_id" [class.displaydiv]="selectedItemm == i">
						
					<li> <a href="javascript:void(0)" (click)="editPost(item, i)">Edit</a> </li>
					<li> <a  (click)="presentAlertConfirm(item, i)" href="javascript:void(0)">Delete</a> </li>
					</ul>
					<span (click)="viewPost(item)" class="servcs-badge">{{item.category}}</span>
					<!-- <ion-icon class="icon-dots" name="ellipsis-vertical"></ion-icon> -->
				</ion-item>
			</div>
			<div class="post-content"  style="position: relative;">
				<p (click)="viewPost(item)">{{item.description}}</p>
				<ng-container *ngIf="item?.type == 'Words'">
					<ion-icon class="heart-icon weblink-icon" name="heart-outline" *ngIf="item.fav == '0'" (click)="addRemoveReccomdation(item, '1', i)" style="    bottom: 0%"></ion-icon>
					<ion-icon class="heart-icon weblink-icon" name="heart" *ngIf="item.fav == '1'" (click)="addRemoveReccomdation(item, '0', i)" style="    bottom: 0%"></ion-icon>
				</ng-container>
			</div>

			<div *ngIf="errors.indexOf(item.web_link) == -1">

				<ion-icon class="heart-icon" name="link-outline" style="font-size:20px;"></ion-icon>
				<span class="weblink"><a  (click)="openLink(item.web_link)">{{item.web_link}}</a></span>

				<ng-container *ngIf="errors.indexOf(item.web_link) == -1">
					<ion-icon class="heart-icon weblink-icon" name="heart-outline" *ngIf="item.fav == '0'" (click)="addRemoveReccomdation(item, '1', i)"></ion-icon>
					<ion-icon class="heart-icon weblink-icon" name="heart" *ngIf="item.fav == '1'" (click)="addRemoveReccomdation(item, '0', i)"></ion-icon>
				</ng-container>
			</div>
			<div class="post-img" *ngIf="errors.indexOf(item.image) == -1 || item.image" (click)="viewPost(item)" >
				<img   src="{{IMAGES_URL + '/images/' + item.image}}">

				<ng-container >
					<ion-icon class="heart-icon" name="heart-outline" *ngIf="item.fav == '0'" (click)="addRemoveReccomdation(item, '1', i)"></ion-icon>
					<ion-icon class="heart-icon" name="heart" *ngIf="item.fav == '1'" (click)="addRemoveReccomdation(item, '0', i)"></ion-icon>
				</ng-container>
				
			</div>		
			<div class="post-share">
				<ion-row>
					<ion-col size="6">
					<!-- <ion-button class="socl-btn" *ngIf="item.fav == '0' && errors.indexOf(loggedUserId) == -1" (click)="addRemoveReccomdation(item, '1', i)">
					<ion-icon class="heart-icon" name="heart-outline" ></ion-icon>
					</ion-button>

					<ion-button class="socl-btn" *ngIf="item.fav == '1' && errors.indexOf(loggedUserId) == -1" (click)="addRemoveReccomdation(item, '0', i)">

					<ion-icon class="heart-icon" name="heart" class="liked" ></ion-icon>
					</ion-button> -->

					<ion-button class="socl-btn" (click)="like(item.likes, i)"><ion-icon name="{{isLikedPost(item.likes)}}" [ngClass]="{'liked': isLikedPost(item.likes) == 'thumbs-up'}"></ion-icon> <span class="padding-8">{{item.likes.length}}</span></ion-button>
					</ion-col>
					<ion-col size="6" class="ion-text-right">
					<ion-button class="socl-btn" (click)="viewPost(item)"><ion-icon name="chatbubble-outline"></ion-icon> <span class="padding-8">{{item.comments.length}}</span> </ion-button>
					<div *ngIf="platform1 == false">
								<a (click)="viewPostSocial(item)" href="http://www.facebook.com/share.php?u=http://18.219.109.190/weblive/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
								<a (click)="viewPostSocial(item)" href="https://twitter.com/share?url=http://18.219.109.190/weblive/&amp;text=aa&amp;hashtags=YOUR_HASHTAGS" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
								<a (click)="viewPostSocial(item)" href="https://web.whatsapp.com/send?text=http://18.219.109.190/weblive/" target="_blank"><ion-icon name="logo-whatsapp"></ion-icon></a>
								<a (click)="viewPostSocial(item)" href="https://plus.google.com/share?url=http://18.219.109.190/weblive/" target="_blank"><ion-icon name="logo-google"></ion-icon></a>
								<a (click)="viewPostSocial(item)" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://18.219.109.190/weblive/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
							</div>

							<ion-button class="socl-btn"  (click)="socialsharebranch(item)" *ngIf="platform1 == true"><ion-icon name="share-social-outline"></ion-icon></ion-button>		
					</ion-col>
				</ion-row>
			</div>	
			<div class="post-coment" *ngIf="item.comments.length > 0" (click)="viewPost(item)" >	
				<ion-item lines="none">
					 <ion-avatar>
					     <img *ngIf="errors.indexOf(item.comments[item.comments.length - 1].image) == -1 && getimage(item.comments[item.comments.length - 1].image) == true" src="{{item.comments[item.comments.length - 1].image}}">
					    <img *ngIf="errors.indexOf(item.comments[item.comments.length - 1].image) == -1 && getimage(item.comments[item.comments.length - 1].image) == false" src="{{IMAGES_URL + '/images/' + item.comments[item.comments.length - 1].image}}">
					 	<img *ngIf="errors.indexOf(item.comments[item.comments.length - 1].image) >= 0" src="assets/img/default.png">
					 </ion-avatar>
					<ion-label>
					<h2><b>{{item.comments[item.comments.length - 1].user}}</b> </h2>
					<p>{{item.comments[item.comments.length - 1].comment}}</p>
					</ion-label>
				</ion-item>
			</div>
		</ion-card>

		 <div class="no-record" *ngIf="data?.post?.length == 0 && is_response == true">
		No Record Found
		</div>
</div>

</div>
</ion-content>
<div footerWeb>
	<p>© 2020 Favreet. All rights reserved.</p>
</div>
