<div headerWeb>
	<a href="javascript:void(0)" logo>Recommendspot</a>
	<div ritHeader>
		<ul>
			<li><a routerLink="/tabs/home" href="javascript:void(0)">Home</a></li>
			<li><a routerLink="/tabs/following" href="javascript:void(0)">Following</a></li>
			<li><a routerLink="/tabs/add-recommendation" href="javascript:void(0)">Add Recommendation</a></li>
			 
		</ul>
		<!--ion-label style="display: none;"><span>Select Category</span></ion-label-->
		<!--ion-select  style="color: #fff;font-size: 15px;font-weight: 500;    margin-top: 3px;" interface="alert" [(ngModel)]="cat" (ionChange)="catChange(type, 'web')">
			<ion-select-option value="All"> All Categories </ion-select-option>
			<ion-select-option value="{{cat._id}}" *ngFor="let cat of categories"> {{cat.name}} </ion-select-option>
			
		</ion-select-->
		<a href="javascript:void(0)" routerLink="/tabs/notification" noti><ion-icon name="notifications-sharp"></ion-icon></a>
		<span proImg>
			<!-- <img src="assets/img/user4.jpg" alt=""> -->

			<img routerLink="/tabs/profile" *ngIf="errors.indexOf(user_image) == -1 && getimage(user_image) == true" src="{{user_image}}">
	       <img routerLink="/tabs/profile" *ngIf="errors.indexOf(user_image) == -1 && getimage(user_image) == false" src="{{IMAGES_URL + '/images/' + user_image}}">
	      <img routerLink="/tabs/profile" *ngIf="errors.indexOf(user_image) >= 0" src="assets/img/default.png">

			 <p routerLink="/tabs/profile"><span class="username">{{user_name}} </span><small>{{user_email}}</small></p>
			<div profileDropdown>
				<ul>
					<li><a href="javascript:void(0)" routerLink="/profile-setting/{{user_id}}">Profile Settings</a></li>
					<li (click)="logout()"> <a href="javascript:void(0)">Logout</a></li>
				</ul>
			</div>
			
		</span>
	</div>
</div>

	<ion-header>
		<ion-toolbar color="secondary">
			<ion-menu-button slot="start">
				<img height="15px" src="assets/img/menu.png"/>
			</ion-menu-button>
			<ion-title class="ion-text-center">Discover
				
			</ion-title>
			<ion-buttons addbtn slot="end" routerLink="/tabs/add-recommendation"><ion-icon name="add-outline"></ion-icon></ion-buttons>
		</ion-toolbar>
	</ion-header>

	<ion-content>

		<div class="search">
			<!-- (ngSubmit)="search()"  -->
			<ion-item lines="none" displayabovePhn style="    background: #fff;border-radius: 50px;margin-bottom: 10px;font-size: 13px;" >
			<ion-label style="display: none;"><span>Select Category</span></ion-label>
				<ion-select style="max-width: 100% !important;" interface="alert" [(ngModel)]="cat" (ionChange)="catChange(type, 'app')">
					<ion-select-option value="All"> All Categories </ion-select-option>
						<ion-select-option value="{{cat._id}}" *ngFor="let cat of categories"> {{cat.name}} </ion-select-option>
						
				</ion-select>
			</ion-item>
			<form [formGroup]="authForm"  >
				<ion-searchbar placeholder="Search here..." formControlName="keyword">

				</ion-searchbar>
				<!-- <ion-icon class="icon-dots" name="search" style="float: right;" (click)="search()"></ion-icon> -->
			</form>
			<ion-item lines="none" sortbyWeb>


				<ion-label><span>Sort By</span></ion-label>
				<ion-select interface="alert" [(ngModel)]="type" (ionChange)="typeChange(type)">
					<ion-select-option value="Saved"> Saved </ion-select-option>
					<ion-select-option value="Likes"> Likes </ion-select-option>
					<ion-select-option value="Comments"> Comments   </ion-select-option>
					<ion-select-option value="Random"> Random   </ion-select-option>
				</ion-select>
			</ion-item>


		</div>
		<div container>
			<ion-item lines="none" sortbyPhn>


				<ion-label><span>Sort By</span></ion-label>
				<ion-select interface="alert" [(ngModel)]="type" (ionChange)="typeChange(type)">
					<ion-select-option value="Saved"> Saved </ion-select-option>
					<ion-select-option value="Likes"> Likes </ion-select-option>
					<ion-select-option value="Comments"> Comments   </ion-select-option>
					<ion-select-option value="Random"> Random   </ion-select-option>
				</ion-select>
			</ion-item>

			<div class="home-sec">
			<ion-row>
			<ion-col size="12">
				<ion-segment [(ngModel)]="profiletab" (ionChange)="onSegmentChange()" >
					<ion-segment-button value="Basic">
						For You
					</ion-segment-button>
					<ion-segment-button value="Today">
						Today
					</ion-segment-button>
					<ion-segment-button value="Saved">
						Saved
					</ion-segment-button>
				</ion-segment>			
			</ion-col>
			<ion-col size="4" mobile-none>
			    <div category-sec>
					<ion-list>
					    <h3 category-head>All Categories</h3>
						<ion-item lines="none">
							<ion-label>Games</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>	
						<ion-item lines="none">
							<ion-label>Services</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>	
						<ion-item lines="none">
							<ion-label>Articles</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>	
						<ion-item lines="none">
							<ion-label>Motivational videos</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>	
						<ion-item lines="none">
							<ion-label>Netflix Series</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>	
						<ion-item lines="none">
							<ion-label>Netflix Movies</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>	
						<ion-item lines="none">
							<ion-label>Books</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>	
						<ion-item lines="none">
							<ion-label>Music</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>	
						<ion-item lines="none">
							<ion-label>Inspirational/Motivational</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Products</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Podcasts</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>	
						<ion-item lines="none">
							<ion-label>Finance/Make Money</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>	
						<ion-item lines="none">
							<ion-label>Life Lessons</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>	
						<ion-item lines="none">
							<ion-label>Fitness/Workout</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>		
						<ion-item lines="none">
							<ion-label>Health</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>		
						<ion-item lines="none">
							<ion-label>Stock Market</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>		
						<ion-item lines="none">
							<ion-label>Food/Restaurants</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>		
						<ion-item lines="none">
							<ion-label>Places To Visit</ion-label>
							<ion-checkbox slot="start"></ion-checkbox>
						</ion-item>	
					</ion-list> 					
				</div>
			</ion-col>
			<ion-col size="8" moble-width100>
				<!--ion-segment [(ngModel)]="profiletab" (ionChange)="onSegmentChange()" >
					<ion-segment-button value="Basic">
						For You
					</ion-segment-button>
					<ion-segment-button value="Today">
						Today
					</ion-segment-button>
					<ion-segment-button value="Saved">
						Saved
					</ion-segment-button>
				</ion-segment-->
				<div>
					<ion-list>
						<ion-card post-sec-mn *ngFor="let item of posts| appFilter: authForm.value.keyword; let i = index;" >
							<div class="post-name post-sec">	
								<ion-item lines="none">
									<ion-avatar (click)="viewUser(item)">
										<img *ngIf="errors.indexOf(item.user_image) == -1 && getimage(item.user_image) == true" src="{{item.user_image}}">
										<img *ngIf="errors.indexOf(item.user_image) == -1 && getimage(item.user_image) == false" src="{{IMAGES_URL + '/images/' + item.user_image}}">
										<img *ngIf="errors.indexOf(item.user_image) >= 0" src="assets/img/default.png">
									</ion-avatar>
									<ion-label (click)="viewUser(item)">
										<h2>{{item.user_name}}</h2>
										<p>{{item.created_at  | dateAgo}}</p>
									</ion-label>
									<!-- <ion-icon class="icon-dots" name="ellipsis-vertical" *ngIf="userId == item.user_id" (click)="openUpdate(i)"></ion-icon> -->
									<!--><ul class="list-post-fl displaynonediv" id="doc{{i}}" *ngIf="userId == item.user_id" [class.displaydiv]="selectedItemm == i">

										<li> <a  (click)="editPost(item, i)">Edit</a> </li>
										<li> <a  (click)="presentAlertConfirm(item, i)" >Delete</a> </li>
									</ul>
										<ion-icon class="icon-dots" name="ellipsis-vertical" *ngIf="userId == item.user_id" (click)="openUpdate(i)"></ion-icon></-->
									
									<!-- </div> -->

									<span (click)="viewPost(item)" class="servcs-badge" *ngIf="item.category != ''">{{item.category}}</span>
								</ion-item>
								
							</div>
							<div class="post-content" style="position: relative;">
								<h6 style="font-size: 14px;color: #000; font-weight:600;">{{item.title}}</h6>
								<p style="margin-right: 35px;" (click)="viewPost(item)">{{item.description}}</p>

								<!--ng-container *ngIf="item?.type == 'Words'">
									<ion-icon class="heart-icon weblink-icon" name="bookmark-outline" *ngIf="item.fav == '0'" (click)="addRemoveReccomdation(item, '1', i)" style="    bottom: 0%"></ion-icon>
									<ion-icon class="heart-icon weblink-icon" name="bookmark" *ngIf="item.fav == '1'" (click)="addRemoveReccomdation(item, '0', i)" style="    bottom: 0%"></ion-icon>
								</ng-container-->
							</div>

							<div *ngIf="errors.indexOf(item.web_link) == -1">
								<div weblink-sec>
									<ion-icon class="heart-icon" name="link-outline" style="font-size:20px;"></ion-icon>			
									<span class="weblink"> <a (click)="openLink(item.web_link)">{{item.web_link}}</a></span>
								</div>
								<div class="linkcontent" *ngIf="item.web_link_content?.data != null" (click)="openLinkPreview(item.web_link_content?.data.link)">
				
									<ion-row>
										<ion-col size="3" size-md="4" *ngIf="item.web_link_content?.data.image != ''">
											<img src="{{item.web_link_content?.data.image}}" />
										</ion-col>

										<ion-col size="{{item.web_link_content?.data.title != '' ? 9 : 12}}" size-md="8">
											<p style="margin:0;" *ngIf="item.web_link_content?.data.title != ''"><b>{{item.web_link_content?.data.title}}</b></p>
											<p style="margin:0;" *ngIf="item.web_link_content?.data.title == ''"> Lorem Ipsum is simply dummy text of the industry. </p>
											<p style="margin:0;" *ngIf="item.web_link_content?.data.title != ''">{{item.web_link_content?.data.description}}</p>
											<p style="margin:0;" *ngIf="item.web_link_content?.data.title == ''">Lorem Ipsum is simply dummy text of the industry.</p>
										</ion-col>
									</ion-row>
									
								</div>
								<!--ng-container *ngIf="errors.indexOf(item.web_link) == -1">
									<ion-icon style="z-index: 999;bottom: 135px;right: 25px;" class="heart-icon weblink-icon" name="bookmark-outline" *ngIf="item.fav == '0'" (click)="addRemoveReccomdation(item, '1', i)"></ion-icon>
									<ion-icon style="z-index: 999;bottom: 135px;right: 25px;" class="heart-icon weblink-icon" name="bookmark" *ngIf="item.fav == '1'" (click)="addRemoveReccomdation(item, '0', i)"></ion-icon>
								</ng-container-->
							</div>


							<div class="post-img" *ngIf="errors.indexOf(item.image) == -1 || item.image">
								<img (click)="viewPost(item)"  src="{{IMAGES_URL + '/images/' + item.image}}">

								<!--ng-container >
									<ion-icon  class="heart-icon" name="bookmark-outline" *ngIf="item.fav == '0'" (click)="addRemoveReccomdation(item, '1', i)"></ion-icon>
									<ion-icon class="heart-icon" name="bookmark" *ngIf="item.fav == '1'" (click)="addRemoveReccomdation(item, '0', i)"></ion-icon>
								</ng-container-->
							</div>	

							<div class="post-share">
								<ion-row>
									<ion-col size="6">

						<!-- <ion-button class="socl-btn" *ngIf="item.fav == '0'" (click)="addRemoveReccomdation(item, '1', i)">

							<ion-icon class="heart-icon" name="bookmark-outline" ></ion-icon>
						</ion-button>
						<ion-button class="socl-btn" *ngIf="item.fav == '1'" (click)="addRemoveReccomdation(item, '0', i)">
							<ion-icon class="heart-icon" name="bookmark" class="liked"></ion-icon>
						</ion-button> -->



						<ion-button class="socl-btn" (click)="like(item.likes, item.dislikes, i)">

							<ion-icon name="{{isLikedPost(item.likes)}}"  [ngClass]="{'liked': isLikedPost(item.likes) == 'thumbs-up'}"></ion-icon> {{item.likes.length}}
						</ion-button>

						<ion-button class="socl-btn" (click)="dislike(item.likes, item.dislikes, i)">

							<ion-icon name="{{isDisLikedPost(item.dislikes)}}"  [ngClass]="{'liked': isDisLikedPost(item.dislikes) == 'thumbs-down'}"></ion-icon>{{item.dislikes.length}}
						</ion-button>

					</ion-col>
					<ion-col size="6" class="ion-text-right" >
						<div post-fav-icon>
							<div dots-edit>
							<ul class="list-post-edit displaynonediv" id="doc{{i}}" *ngIf="userId == item.user_id" [class.displaydiv]="selectedItemm == i">

								<li> <a  (click)="editPost(item, i)">Edit</a> </li>
								<li> <a  (click)="presentAlertConfirm(item, i)" >Delete</a> </li>
							</ul>
							<ion-icon class="icon-dots" name="ellipsis-horizontal" *ngIf="userId == item.user_id" (click)="openUpdate(i)"></ion-icon>	
                            </div>							
							<ng-container>
								<ion-icon class="heart-fav" name="bookmark-outline" *ngIf="item.fav == '0'" (click)="addRemoveReccomdation(item, '1', i)"></ion-icon>
								<ion-icon class="heart-fav fav-save" name="bookmark" *ngIf="item.fav == '1'" (click)="addRemoveReccomdation(item, '0', i)"></ion-icon>
							</ng-container>							
						<ion-button routerLink="/comments" class="socl-btn"><ion-icon name="chatbubble-outline"></ion-icon> <span class="padding-8">{{item.comments.length}}</span> </ion-button>					
						<!--ion-button (click)="viewPost(item)" class="socl-btn"><ion-icon name="chatbubble-outline"></ion-icon> <span class="padding-8">{{item.comments.length}}</span> </ion-button-->
						</div>						
						<!--div *ngIf="platform1 == false">
								<span style="padding: 5px;" (click)="viewPostSocial(item, 'http://www.facebook.com/share.php?u=http://18.219.109.190/weblive/')" target="_blank"><ion-icon name="logo-facebook"></ion-icon></span>
								<span style="padding: 5px;"  (click)="viewPostSocial(item, 'https://twitter.com/share?url=http://18.219.109.190/weblive/&amp;text=aa&amp;hashtags=YOUR_HASHTAGS')"  target="_blank"><ion-icon name="logo-twitter"></ion-icon></span>
								<span style="padding: 5px;"  (click)="viewPostSocial(item, 'https://web.whatsapp.com/send?text=http://18.219.109.190/weblive/')" target="_blank"><ion-icon name="logo-whatsapp"></ion-icon></span>
								<span style="padding: 5px;"  (click)="viewPostSocial(item, 'https://plus.google.com/share?url=http://18.219.109.190/weblive/')" target="_blank"><ion-icon name="logo-google"></ion-icon></span>
								<span style="padding: 5px;"  (click)="viewPostSocial(item, 'http://www.linkedin.com/shareArticle?mini=true&amp;url=http://18.219.109.190/weblive/')" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></span>
							</div-->

							<ion-button class="socl-btn"  (click)="socialsharebranch(item)" *ngIf="platform1 == true"><ion-icon name="share-social-outline"></ion-icon></ion-button>			
					</ion-col>
				</ion-row>
			</div>	
			<div class="post-coment" *ngIf="item.comments.length > 0" (click)="viewPost(item)" >	
				<ion-item lines="none">
					<ion-avatar>
						<img *ngIf="errors.indexOf(item.comments[item.comments.length - 1].image) == -1 && getimage(item.comments[item.comments.length - 1].image) == true" src="{{item.comments[item.comments.length - 1].image}}">
						<img *ngIf="errors.indexOf(item.comments[item.comments.length - 1].image) == -1 && getimage(item.comments[item.comments.length - 1].image) == false" src="{{IMAGES_URL + '/images/' + item.comments[item.comments.length - 1].image}}">
						<img *ngIf="errors.indexOf(item.comments[item.comments.length - 1].image) >= 0" src="assets/img/default.png">
					</ion-avatar>
					<ion-label>
						<h2><b>{{item.comments[item.comments.length - 1].user}}</b>  </h2>
						<p>{{item.comments[item.comments.length - 1].comment}}</p>
					</ion-label>
				</ion-item>
			</div>
		</ion-card>

	</ion-list> 
	<!-- <ion-list *ngSwitchCase="'Today'">
		<ion-card post-sec-mn>
			<div class="post-name">	
				<ion-item lines="none">
					 <ion-avatar>
					   <img src="assets/img/user1.jpg"/>
					 </ion-avatar>
					<ion-label>
					<h2>Mrdejavuu</h2>
					<p>14 min ago</p>
					</ion-label>
					<ion-icon class="icon-dots" name="ellipsis-vertical"></ion-icon>
				</ion-item>
			</div>
			<div class="post-content">
				<p>The best show on netflix i have watched in 2020. Hands  town Action , drama and madness.</p>
			</div>
			<div class="post-img">
				<img src="assets/img/post1.jpg" />
				<span class="servcs-badge">Netflix Series</span>
				<ion-icon class="heart-icon" name="bookmark-outline"></ion-icon>
			</div>	
			<div class="post-share">
				<ion-row>
					<ion-col size="3">
					<ion-button class="socl-btn"><ion-icon name="thumbs-up-outline"></ion-icon> 155</ion-button>
					</ion-col>
					<ion-col size="9" class="ion-text-right">
					<ion-button class="socl-btn"><ion-icon name="chatbubble-outline"></ion-icon> 155</ion-button>
					<ion-button class="socl-btn"><ion-icon name="share-social-outline"></ion-icon></ion-button>		
					</ion-col>
				</ion-row>
			</div>	
			<div class="post-coment">	
				<ion-item lines="none">
					 <ion-avatar>
					   <img src="assets/img/user2.jpg"/>
					 </ion-avatar>
					<ion-label>
					<h2><b>Jessica</b> commented on your post </h2>
					<p>Industry's standard dummy text ever since   the 1500s, when an unknown</p>
					</ion-label>
				</ion-item>
			</div>
		</ion-card>	
	</ion-list>  
	<ion-list *ngSwitchCase="'Saved'">	
		<ion-card post-sec-mn>
			<div class="post-name">	
				<ion-item lines="none">
					 <ion-avatar>
					   <img src="assets/img/user3.jpg"/>
					 </ion-avatar>
					<ion-label>
					<h2>Kevin</h2>
					<p>14 min ago</p>
					</ion-label>
					<ion-icon class="icon-dots" name="ellipsis-vertical"></ion-icon>
				</ion-item>
			</div>
			<div class="post-content">
				<p>The stock market is a great place to make money and these are recommendations to get you started in the game</p>
			</div>
			<div class="post-img">
				<img src="assets/img/post2.jpg" />
				<span class="servcs-badge">Stock Market</span>
				<ion-icon class="heart-icon" name="bookmark-outline"></ion-icon>
			</div>	
			<div class="post-share">
				<ion-row>
					<ion-col size="3">
					<ion-button class="socl-btn"><ion-icon name="thumbs-up-outline"></ion-icon> 155</ion-button>
					</ion-col>
					<ion-col size="9" class="ion-text-right">
					<ion-button class="socl-btn"><ion-icon name="chatbubble-outline"></ion-icon> 155</ion-button>
					<ion-button class="socl-btn"><ion-icon name="share-social-outline"></ion-icon></ion-button>		
					</ion-col>
				</ion-row>
			</div>	
			<div class="post-coment">	
				<ion-item lines="none">
					 <ion-avatar>
					   <img src="assets/img/user4.jpg"/>
					 </ion-avatar>
					<ion-label>
					<h2><b>Maria</b> commented on your post </h2>
					<p>Industry's standard dummy text ever since   the 1500s, when an unknown</p>
					</ion-label>
				</ion-item>
			</div>
		</ion-card>	
	</ion-list>  --> 
</div>	
<div class="no-record" *ngIf="posts?.length == 0 && is_response == true">
	No Record Found
</div>
</ion-col>
</ion-row>
</div>

<!--  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="is_response == true">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
-->
</div>
</ion-content>
<div footerWeb>
	<p>© 2021 Recommendspot. All rights reserved.</p>
</div>

