<div headerWeb>
	<a href="javascript:void(0)" routerLink="/tabs/home" logo>Recommendspot</a>
	<div ritHeader >
		<ul>
			<li><a routerLink="/tabs/home" href="javascript:void(0)">Home</a></li>
			<li><a routerLink="/tabs/following" href="javascript:void(0)">Following</a></li>
			<li><a routerLink="/tabs/add-recommendation" href="javascript:void(0)">Add Recommendation</a></li>
			 
		</ul>
		<a href="javascript:void(0)" routerLink="/tabs/notification" noti><ion-icon name="notifications-sharp"></ion-icon></a>
		<span proImg>
	       <img routerLink="/tabs/profile" src="assets/img/default.png">

			<p routerLink="/tabs/profile"><span class="username">user_name </span><small>user_email</small></p>
			<div profileDropdown>
				<ul>
					<li><a href="javascript:void(0)" routerLink="/profile-setting/">Profile Settings</a></li>
					<li (click)="logout()"><a href="javascript:void(0)">Logout</a></li>
				</ul>
			</div>
		</span>
	</div>
</div>

<ion-header class="ion-no-border heder-main" align-title="center">
	<ion-toolbar color="secondary">
		
    	<ion-back-button slot="start">
        </ion-back-button> 
		<ion-title class="ion-text-center"> Comments </ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div container>
		<div class="content-all-pst">
			<div class="commnts">
				<img src="assets/img/user1.jpg" class="adm-usr"> 
				<h5> John Smith <span class="time-al"> 1 hour ago </span> </h5>
				<p> Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto. </p>
			</div>
			<div class="commnts">
				<img src="assets/img/user2.jpg" class="adm-usr"> 
				<h5>Christon Hanry <span class="time-al"> 1 hour ago </span> </h5>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
			</div>
			<div class="commnts">
				<img src="assets/img/user3.jpg" class="adm-usr"> 
				<h5>  Marry James  <span class="time-al"> 3 hours ago </span> </h5>
				<p> At vero eos et accusamus et iusto odio dignissimos . </p>
			</div>
			<div class="add-commnt">
				<ion-input placeholder="Add comment here..."></ion-input>
				<a (click)="postComment(comment)" class="btn-send" > <ion-icon name="send-outline"></ion-icon> </a>
			</div>
		</div>
	</div>
</ion-content>
