<div headerWeb>
	<a href="javascript:void(0)" routerLink="/tabs/home" logo>Recommendspot</a>
	<div ritHeader>
		<ul>
			<li><a routerLink="/category" href="javascript:void(0)">Category</a></li>
			<li><a routerLink="/tabs/home" href="javascript:void(0)">Home</a></li>
			<li><a routerLink="/tabs/following" href="javascript:void(0)">Following</a></li>
			<li><a routerLink="/tabs/add-recommendation" href="javascript:void(0)">Add Recommendation</a></li>
			 
		</ul>
		<a href="javascript:void(0)" routerLink="/tabs/notification" noti><ion-icon name="notifications-sharp"></ion-icon></a>
		<span proImg>
			<img routerLink="/tabs/profile" *ngIf="errors.indexOf(user_image) == -1 && getimage(user_image) == true" src="{{user_image}}">
	        <img routerLink="/tabs/profile" *ngIf="errors.indexOf(user_image) == -1 && getimage(user_image) == false" src="{{IMAGES_URL + '/images/' + user_image}}">
	       <img routerLink="/tabs/profile" *ngIf="errors.indexOf(user_image) >= 0" src="assets/img/default.png">

			<p routerLink="/tabs/profile"><span class="username">{{user_name}} </span><small>{{user_email}}</small></p>
			<div profileDropdown>
				<ul>
					<li><a href="javascript:void(0)" routerLink="/profile-setting/{{user_id}}">Profile Settings</a></li>
					<li (click)="logout()"><a href="javascript:void(0)">Logout</a></li>
				</ul>
			</div>
		</span>
	</div>
</div>
<ion-header>
  <ion-toolbar color="secondary">
  <ion-back-button slot="start" (click)="dismiss()">
   </ion-back-button>
    <ion-title class="ion-text-center">{{str}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<div container>
 <ion-list>
    <ion-item  lines="none" *ngFor="let item of listing; let i = index;">
	  <ion-thumbnail (click)="viewUser(item)">
	    <!-- <img *ngIf="errors.indexOf(item.image) == -1 && item.medium == 'simple'" src="{{IMAGES_URL + '/images/' + item.image}}">
	    <img *ngIf="errors.indexOf(item.image) == -1 && item.medium != 'simple'" src="{{item.image}}"> -->
	    <img *ngIf="errors.indexOf(item.image) == -1 && getimage(item.image) == true" src="{{item.image}}">
	 	<img *ngIf="errors.indexOf(item.image) == -1 && getimage(item.image) == false" src="{{IMAGES_URL + '/images/' + item.image}}">
	 	<img *ngIf="errors.indexOf(item.image) >= 0" src="assets/img/default.png">
	  </ion-thumbnail>
	  <ion-label (click)="viewUser(item)">
	    <h2>{{item.name}}</h2>
	  </ion-label>
	  <ion-button shape="round" fill="outline" color="secondary" (click)="presentAlertConfirm(item, i)" *ngIf="str == 'Following'">Unfollow</ion-button>
    </ion-item>
	 
  </ion-list>

  <div class="no-record" *ngIf="listing?.length == 0 && is_response == true && str == 'Following'">
	You are not following anyone
</div>
<div class="no-record" *ngIf="listing?.length == 0 && is_response == true && str == 'Follower'">
Nobody has followed you
</div>
</div>

</ion-content>
<div footerWeb>
	<p>© 2021 Recommendspot. All rights reserved.</p>
</div>
